PORT=3001
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nti_db?schema=public"
REDIS_HOST=localhost
REDIS_PORT=6379
SMTP_HOST=smpt.host.example.com
SMTP_PORT=587
SMTP_USER=email@gmail.com
SMTP_PASSWORD=password_example
SMTP_FROM=email@gmail.com
JWT_ACCESS_SECRET=your_access_secret_key
JWT_REFRESH_SECRET=your_refresh_secret_key
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
HASH_ROUNDS=10